GOOGLE_AI_API_KEY=your_google_ai_api_key_here
SECRET_KEY=your-secret-key-change-in-production
MONGODB_URI=mongodb+srv://Muhmmad1404:Muhmmadyousaf1404@cluster0.f3nzphr.mongodb.net/ai_chat?appName=Cluster0
